PORT=8000

NODE_ENV=dev
SALT=10

ADMIN_ACCESS_SIGNATURE=your_admin_access_signature
USER_ACCESS_SIGNATURE=your_user_access_signature

ADMIN_REFRESH_SIGNATURE=your_admin_refresh_signature
USER_REFRESH_SIGNATURE=your_user_refresh_signature

GOOGLE_ACCOUNT=your_gmail@gmail.com
PASSWORD_ACCOUNT=your_gmail_app_password

DATABASE_URL=mongodb://localhost:27017/ecommerce
SERVER_URL=http://localhost:8000

GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_USER=1h
JWT_EXPIRES_ADMIN=2h
JWT_EXPIRES_ADMIN_refresh=7d
JWT_EXPIRES_USER_refresh=7d

ITERATIONS=100000

AWS_REGION=us-east-1
AWS_BUCKET_NAME=your_s3_bucket_name

REDIS_CONNECTION=your_redis_connection_string

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
